<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "KPT"
        version     = "1.0.0" >

    <name>KPT</name>
    <description></description>
    <author>
		PT
	</author>
	<platform name="android" />

	


	<icon src="icon.jpg"/>
	<splash src="splash.png"/>


</widget>